
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=
ENCRYPTION_KEY=

# Database - local
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=strapi-jet-db
DATABASE_USERNAME=strapi-jet-db-admin
DATABASE_PASSWORD=strapi-jet-db-pass
DATABASE_SSL=false
DATABASE_FILENAME=
JWT_SECRET=


# Bucket R2
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=dev
R2_ENDPOINT=
R2_PUBLIC_ACCESS_URL=

# SMTP config - Gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_REPLY_TO=

# Template do email de redefinição de senha (admin)
ASSOCIATION_LOGO_URL=https://exemplo.com/logo.png
# PRIMARY_COLOR=#050469